<div class="card">
    <h1 class="head">Registration From</h1>
    <div class="card-body head" >
    
    <div>
        <div class="row">
           
                    <label>Name</label>
                    <input name="Name"  type="text" [(ngModel)]="reg.Name" class="form-control">
             
        </div><br>
        <div class="row">
            
                    <label>Email</label>
                    <input name="Name" type="text" [(ngModel)]="reg.Email" class="form-control">
              
        </div>
        <div class="row">
           
                    <label>Mobile </label>
                    <input name="" type="text" [(ngModel)]="reg.Mobile"  class="form-control">
             

        </div><br>

        <div class="row head" >
            <button  class="btn btn-info btn-sm" (click)="Register()">Sign Up</button>

        </div>
    </div>
</div>
</div>