<div class="container">
    <div class="log"> 
        <button class="btn btn-info btn-sm" routerLink="../">LogOut</button>

    </div>
    <div class="row flex-center " >

        <div class="col-3 mt-5">
            <div class="input-group mb-3">

                <input type="text" class="form-control" [(ngModel)]="name" placeholder="Name" aria-label="Name">
                <button class="btn btn-info btn-sm" (click)="findUser()">Search</button>
            </div>
        </div>
        

    </div>


    <div class="row flex-center" >
        <div *ngIf="this.userDetails" class="card" style="width: 18rem;">
            <img src="{{this.userDetails.avatar_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Created : {{this.userDetails.created_at|date}}</p>
            </div>
        </div>
    </div>
</div>